div.ui.segment.comment {
    margin: 0 !important;
    border: none !important;
    box-shadow: none !important;
    background-color: #f6f7f9 !important;
}
div.ui.fluid.input.comment-input input {
    padding: 20px;
    border-radius: 10px;
    outline: none;
    border: 1px solid grey;
    background-color: white !important;
    margin-bottom: 10px;
}
span.comment-name {
    font-weight: bold;
    padding-right: 5px;
}
div.comment-msg {
    padding: 15px;
    overflow: hidden;
    background: white;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid grey;
}
div.comment-time {
    clear: both;
    overflow: hidden;
    margin-left: 30px;
    color: grey;
}
div.comment-box {
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}
button.ui.button.input-btn {
    padding: 5px !important;

    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: 1px solid grey;
    background-color: white !important;
    margin-bottom: 10px;
    height: 59px;
}